@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.nav-link {
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  opacity: .95;
  margin: 0 15px;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.navbarKu {
  background-color: transparent;
}

.navbarKu .container {
  padding-top: 20px;
}

.navbarKu .container .navbar-brand {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
}

.lead {
  font-size: 1.4rem;
  font-family: 'Nunito', sans-serif;
  color: #ebe8f8;
  margin-bottom: 50px;
}

#hero {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#697ded), to(#5e30c1));
  background: linear-gradient(to bottom, #697ded, #5e30c1);
}

#hero .container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero .container .text {
  text-align: left;
  width: 50%;
}

#hero .container .text h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 45px;
}

#hero .container .text .getStarted {
  padding: 15px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #FFA426;
  text-decoration: none;
}

#hero .container .text .getStarted i {
  margin-left: 10px;
}

#hero .container .text .getStarted:hover {
  background-color: #ff9500;
}

#hero .container .img-hero {
  width: 50%;
}

#hero .container .img-hero img {
  width: 100%;
  height: 100%;
}

#features {
  margin: 70px 0;
}

#features .container .row .col-lg-10 h2 {
  font-weight: 700;
}

#features .container .row .col-lg-10 .lead {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 70px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .feature {
  width: calc(100% / 3);
  padding: 25px;
}

.features .feature .feature-icon {
  background-color: rgba(103, 119, 239, 0.1);
  color: #6777ef;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 20px;
}

.features .feature .feature-icon i {
  font-size: 22px;
  margin-bottom: 25px;
}

.features .feature h5 {
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.features .feature p {
  margin-top: 10px;
  line-height: 32px;
}

@media (max-width: 1047px) {
  #hero .container .text h2 {
    font-size: 2.6rem;
    margin-bottom: 30px;
  }
  #hero .container .text .lead {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  #hero .container .img-hero img {
    width: 90%;
    height: 90%;
  }
  .features .feature p {
    font-size: .9rem;
  }
}

@media (max-width: 991px) {
  .navbar-toggler .fa-bars {
    color: #fff;
  }
  #hero .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #hero .container .text {
    width: 100%;
    text-align: center;
  }
  #hero .container .text h2 {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
  #hero .container .text .lead {
    font-size: 1.4rem;
    margin-bottom: 60px;
  }
  #hero .container .img-hero {
    width: 0;
  }
  #hero .container .img-hero img {
    display: none;
  }
}

@media (max-width: 770px) {
  .features .feature {
    width: calc(100% / 2);
  }
  #features .container .row .col-lg-10 h2 {
    font-size: 1.5rem;
  }
  #features .container .row .col-lg-10 .lead {
    margin-top: 0;
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  #hero .container .text h2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  #hero .container .text .lead {
    font-size: 1.1rem;
    margin-bottom: 60px;
  }
  .features {
    display: unset;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .features .feature {
    width: 100%;
  }
  .features .feature h5 {
    font-size: 1.3rem;
  }
  .features .feature p {
    font-size: 1.1rem;
  }
}

@media (max-width: 410px) {
  #hero .container .text h2 {
    font-size: 2.5rem;
  }
  #hero .container .text .lead {
    font-size: 1rem;
  }
  #hero .container .text .getStarted {
    padding: 15px;
  }
  #features .container .row .col-lg-10 h2 {
    font-size: 1.4rem;
  }
  #features .container .row .col-lg-10 .lead {
    font-size: .8rem;
  }
  .features .feature h5 {
    font-size: 1.2rem;
  }
  .features .feature p {
    font-size: .8rem;
  }
}

@media (max-width: 350px) {
  .navbar .container .navbar-brand {
    font-size: .8rem;
  }
  #hero .container .text h2 {
    font-size: 1.8rem;
  }
  #hero .container .text .lead {
    font-size: .9rem;
  }
  #hero .container .text .getStarted {
    padding: 15px;
    font-size: .8rem;
  }
  .features .feature p {
    line-height: 20px;
  }
}

.navbarKuToggle {
  -webkit-transition: .5s;
  transition: .5s;
  background: -webkit-gradient(linear, left top, right top, from(#5469dd), to(#7b47eb));
  background: linear-gradient(to right, #5469dd, #7b47eb);
}

.navbarKuToggle .container {
  padding-top: 0;
}

.navbarKuToggle .container .navbar-brand {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */